/* You can add global styles to this file, and also import other style files */
#mapa {
  position:relative;
  background:url('./images/mapa-comunidades.jpg');
  width:800px;
  height:566px;
}

/* Definimos un estilo para cada comunidad */
.catalunya {
  background:url('./images/catalunya.png') 589px 114px no-repeat;
}
.aragon {
  background:url('./images/aragon.png') 491px 108px no-repeat;
}
.valencia {
  background:url('./images/valencia.png') 517px 226px no-repeat;
}
.murcia {
  background:url('./images/murcia.png') 484px 337px no-repeat;
}
.navarra {
  background:url('./images/navarra.png') 478px 88px no-repeat;
}
.paisvasco {
  background:url('./images/paisvasco.png') 439px 80px no-repeat;
}
.cantabria {
  background:url('./images/cantabria.png') 380px 76px no-repeat;
}
.asturias {
  background:url('./images/asturias.png') 285px 67px no-repeat;
}
.galicia {
  background:url('./images/galicia.png') 197px 59px no-repeat;
}
.castillaLeon {
  background:url('./images/castillaLeon.png') 290px 90px no-repeat;
}
.rioja {
  background:url('./images/rioja.png') 452px 124px no-repeat;
}
.madrid {
  background:url('./images/madrid.png') 393px 207px no-repeat;
}
.castillaManga {
  background:url('./images/castillaManga.png') 357px 197px no-repeat;
}
.extremadura {
  background:url('./images/extremadura.png') 270px 243px no-repeat;
}
.andalucia {
  background:url('./images/andalucia.png') 270px 337px no-repeat;
}

map area{
  outline: none;
}

#nombreComunidad {
  position:absolute;
  left:23px;
  top:33px;
  color:#fff;
  font-weight:bold;
  font-size:0.8em;
}
