<div id="image-background">
  <div class="row">
    <div class="col s12 center-align">
      <h1>Select your Location</h1>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6 offset-m3 center-align">
      <i class="material-icons prefix">textsms</i>
      <input type="text" id="autocomplete-input" class="autocomplete">
      <label for="autocomplete-input">Autocomplete</label>
    </div>
  </div>

  <div class="row">
    <div class="col s6 offset-m3 center-align">
      <sebm-google-map [latitude]="40.441797" [longitude]="-3.702941" [zoom]="6" >
        <sebm-google-map-marker  [latitude]="40.441797" [longitude]="-3.702941" (markerClick)="selectItem('Madrid')"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="41.381826" [longitude]="2.172786" (markerClick)="selectItem('Barcelona')"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="43.462511" [longitude]="-8.422458" (markerClick)="selectItem('Coruña')"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="37.263349" [longitude]="-6.945356" (markerClick)="selectItem('Huelva')"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="39.473987" [longitude]="-0.377319" (markerClick)="selectItem('Valencia')"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="39.861598" [longitude]="-4.025530" (markerClick)="selectItem('Toledo')"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="40.655778" [longitude]="-4.684769" (markerClick)="selectItem('Avila')"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="37.995139" [longitude]="-1.130266" (markerClick)="selectItem('Murcia')"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="43.114051" [longitude]="-2.274530" (markerClick)="selectItem('Guipuzcoa')"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="39.599025" [longitude]="2.746956" (markerClick)="selectItem('IslasBaleares')"></sebm-google-map-marker>

      </sebm-google-map>
    </div>
  </div>

</div>
