<div materialize class="parallax-container">
   <div class="parallax"><img src="../../assets/parallax1.jpg"></div>
 </div>
 <div materialize class="section white">
   <div class="row container center-align">
     <h2 class="header">Una comunidad con apetito!!</h2>
     <h5 class="grey-text text-darken-3 lighten-3">El lugar donde puedes probar todo tipo de comidas caseras,
        crea eventos o unete a ellos para probar y saborear todo tipo
       de comidas
     </h5>
    </div>
 </div>
 <div materialize class="parallax-container">
   <div class="parallax"><img src="../../assets/parallax3.jpg"></div>
 </div>
