<div materialize class="parallax-container">
   <div class="parallax"><img src="../../assets/parallax1.jpg"></div>
 </div>
 <div materialize class="section white">
   <div class="row container">
     <h2 class="header">Parallax</h2>
     <p class="grey-text text-darken-3 lighten-3">HOlAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAente en el cine de artes marciales, conocido principalmente por su carisma, sus peleas de estilo acrobático, el uso improvisado de cualquier objeto a su alcance (como una cuchara) y por sus escenas de alto riesgo. En su carrera como actor ha protagonizado más de cien filmes.
      </p>
    </div>
 </div>
 <div materialize class="parallax-container">
   <div class="parallax"><img src="../../assets/parallax2.jpg"></div>
 </div>
