<div materialize class="parallax-container">
   <div class="parallax"><img src="../../assets/parallax1.jpg"></div>
 </div>
 <div materialize class="section white">
   <div class="row container">
     <h2 class="header">Parallax</h2>
     <p class="grey-text text-darken-3 lighten-3">Chan Kong Sang
       (chino tradicional: 陳港生, chino simplificado: 陈港生, pinyin:
        Chén Gǎng Shēng; Hong Kong, 7 de abril de 1954),1 más
        conocido como Jackie Chan (chino tradicional: 成龍, chino
        simplificado: 成龙, pinyin: Chéng Lóng), es un artista marcial
        , comediante, cantante, actor, acróbata, doble de acción,
        coordinador de dobles de acción, director, guionista y productor
        En China existe una tradición que consiste en dar a una misma persona varios nombres, con Jackie Chan no se hizo ninguna excepción; hijo de Charles y Lee-Lee Chan nació en Hong Kong el 7 de abril de 1954, y le pusieron por nombre «Gang Sheng», el cual significa «Nacido en Hong Kong», aunque en China se le conoce mucho más por su nombre cantonés: «Sheng Lon». Su familia es de Yantai, una ciudad que pertenece a la Provincia de Shangtung, que se caracteriza por haber sido cuna de grandes luchadores. Es uno de los hombres más reconocidos mundialmente en el cine de artes marciales, conocido principalmente por su carisma, sus peleas de estilo acrobático, el uso improvisado de cualquier objeto a su alcance (como una cuchara) y por sus escenas de alto riesgo. En su carrera como actor ha protagonizado más de cien filmes.
      </p>
    </div>
 </div>
 <div materialize class="parallax-container">
   <div class="parallax"><img src="../../assets/parallax2.jpg"></div>
 </div>
