.product-row{
    display: flex;
    flex-wrap: wrap;
}

#pic{
  height: 300px;
  width: 460px;
}

.image-background{
  /*background-image: url(../../assets/img4.jpg);*/
  background-color: #EEE0D2;

}
